@model DashboardReport.WebApp.Models.LogOnModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>
    @*<link href="~/argon-design-system-v1.0.1/assets/img/brand/favicon.png" rel="icon" type="image/png">*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/argon-design-system-v1.0.1/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="~/argon-design-system-v1.0.1/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/argon-design-system-v1.0.1/assets/css/argon.min.css" rel="stylesheet" />
</head>
<body>
    <main>
        <section class="section section-shaped section-lg">
            <div class="shape shape-style-1" style="background-image:url(@Url.Content("~/Content/Images/background.jpg"));background-repeat:no-repeat;background-position:center;background-size:cover;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-lg-md">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow border-0" style="background-color:#FFB533 !important;border-width:1px !important;border-color:#4D4D4D !important;border-style:solid !important;border-radius:0 !important;">
                            <div class="card-body px-lg-5 py-lg-5">
                                <form role="form">
                                    <div class="form-group mb-3">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Email" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Password" type="password">
                                        </div>
                                    </div>
                                    <div class="custom-control custom-control-alternative custom-checkbox">
                                        <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                        <label class="custom-control-label" for=" customCheckLogin">
                                            <span>Remember me</span>
                                        </label>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary my-4">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer" style="background-color:#354558;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Images/logo.png" style="width:100%;"/>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core -->
    <script src="~/argon-design-system-v1.0.1/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/argon-design-system-v1.0.1/assets/vendor/popper/popper.min.js"></script>
    <script src="~/argon-design-system-v1.0.1/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="~/argon-design-system-v1.0.1/assets/vendor/headroom/headroom.min.js"></script>
    <!-- Argon JS -->
    @*<script src="~/argon-design-system-v1.0.1/assets/js/argon.min.js"></script>*@
</body>
</html>